<h3><%= @user.profile.name %>さんの面接一覧</h3>
<table>
　<tr align="left">
　　<th>面接開始日時</th>
　　<th>承認状態</th>
　</tr>
  <% @interviews.each do |i| %>
  <tr align="left">
    <td><%= l i.interview_datetime, format: :long %></td>
    <td><%= Interview.approval_statuses_i18n[i.approval_status] %></td>
    <td><%= button_to '編集', edit_user_interview_path(i.user_id, i), method: :get, disabled: disabled?(i) %></td>
    <td><%= button_to '削除', user_interview_path(i.user_id, i), method: :delete,
    disabled: disabled?(i), data: {confirm: '本当に削除しますか？' } %></td>
  </tr>
  <% end %>
</table>

<%= button_to '新規面接作成' , new_user_interview_path(@user), method: :get %>
