<h1>面接編集</h1>
<%= render 'error_message' %>
<%= form_for @interview, :url => {:action => :update} do |i| %>

  <div class="field">
    <%= i.label :interview_datetime, "開始時間" %>
    <%= i.datetime_select :interview_datetime %>
  </div>

  <div class="actions">
    <%= i.submit "更新" %>
  </div>
<% end %>
