<h1>新規面接作成</h1>
<%= render 'error_message' %>
<%= form_for @interview, :url => {:action => :create} do |i| %>

  <div class="field">
    <%= i.label :interview_datetime, "開始時間" %>
    <%= i.datetime_select :interview_datetime %>
  </div>

  <div class="actions">
    <%= i.submit "新規作成" %>
  </div>
<% end %>
